---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../sections/Hero.astro";
import AboutUs from "../sections/AboutUs.astro";
import IndustriesWeServe from "../sections/IndustriesWeServe.astro";
import TrustData from "../sections/TrustData.astro";
import CTA from "../sections/CTA.astro";
import TrustedBy from "../sections/TrustedBy.astro";
---

<BaseLayout>
    <Hero/>
    <div class="my-20 h-px bg-gradient-to-r from-transparent via-white/10 to-transparent"></div>
    <AboutUs/>
    <div class="my-20 h-px bg-gradient-to-r from-transparent via-white/10 to-transparent"></div>
    <IndustriesWeServe/>
    <div class="my-20 h-px bg-gradient-to-r from-transparent via-white/10 to-transparent"></div>
    <TrustedBy/>
    <div class="my-20 h-px bg-gradient-to-r from-transparent via-white/10 to-transparent"></div>
    <TrustData/>
    <div class="my-20 h-px bg-gradient-to-r from-transparent via-white/10 to-transparent"></div>
    <CTA />
</BaseLayout>
