---

---
<section class="max-w-5xl mx-auto my-40 px-12">
    <h1 class="text-center text-4xl font-semibold md:text-5xl mb-7">Un hardware robusto requiere un software inteligente</h1>
    <p class="text-center text-lg opacity-90 mb-20">Brindamos soporte técnico especializado y desarrollo de sistemas a medida para empresas, instituciones educativas y entidades públicas en todo el Perú.</p>
    <div class="flex flex-col md:flex-row justify-center items-center gap-x-45 gap-y-30">
        <a href="https://soporte.servitecperu.com" target="_blank">
            <img src="img/logotipo-hard.webp" class="w-90 mb-1" alt="Logo de Servitec Perú - Hardware & Software">
        </a>
        <a href="https://software.servitecperu.com" target="_blank">
            <img src="img/logotipo-soft.webp" class="w-90 mb-1" alt="Logo de Servitec Perú - Desarollo de Sistemas">
        </a>
    </div>
</section>